<html>
	<head>
		<title>500-Internal Server Error!</title>
	</head>
	<body style="background-color: #d6f3f4;font-family: monospace" align="center">
		<br/>
		<h2 style="color: #3f3f3f;">Sorry, Internal Server Error.</h2>

		<div style="color: gray;">
			<h4>
				<br/>
				<small>
					The requested page is unavailable.
					<br/>
					Our developers have been informed about error.
					<br/><br/>
				</small>
			</h4>
			<a href="javascript:window.history.back();"><i class="fi-play inverse-icon"> </i> Go Back</a>  &nbsp; | &nbsp; <a href="/welcome?True"> <i class="fi-home"> </i> Homepage</a>
		</div>
	</center>
</body>

		<h1 style="color:#f24545;">500 - Internal Server Error !</h1><hr/>
		<h4 style="color:#926672;">
			The server encountered an internal error and was unable to complete your request. Please try again after sometime or contact support@gnowledge.org <br/>
		</h4>
	</body>
</html>

