{% load i18n %}
{% load get_latest_git_hash from simple_filters %}
{% load get_pages from ndf_tags %}

{% get_pages "Info page" as infopages %}

<footer style="margin-top: 60px;">
  <div class="footer-nav row expanded collapse">  
    <div class="footer-nav-left">
        <p class="footer-copyright">View Source Code</p>
    </div>
    <div class="footer-nav-center">
        <ul class="footer-nav-menu">
            <li class="footer-nav-menu-item">About</li>
            <li class="footer-nav-menu-item">Partners</li>
            <li class="footer-nav-menu-item">Groups</li>
            <li class="footer-nav-menu-item">Terms of Service</li>
            <li class="footer-nav-menu-item">Privacy Policy</li>
            <li class="footer-nav-menu-item">Contribute</li>
            <li class="footer-nav-menu-item">Contact</li>
        </ul>
        <h3>
            {% get_latest_git_hash as git_commit_hash %}
                Powered by <a href="https://gitlab.com/gnowledge/gstudio/tree/{{git_commit_hash}}" target="_blank">gstudio </a> built at Gnowledge Lab,
                <a href="http://www.hbcse.tifr.res.in/" target="_blank">Homi Bhabha Centre for Science Education</a>, <a href="http://www.tifr.res.in/" target="_blank">TIFR</a>.
        </h3>
        
    </div>

    <div class="footer-nav-right">
        <p class="footer-copyright">View Source Code</p>
    </div>
  </div>  

    
</footer>